<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evidence/broken-evidence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,60}</string>
                <key>spriteSourceSize</key>
                <string>{93,60}</string>
                <key>textureRect</key>
                <string>{{348,0},{93,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evidence/broken-shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,94}</string>
                <key>textureRect</key>
                <string>{{110,0},{70,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evidence/evidence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evidence/shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,87}</string>
                <key>spriteSourceSize</key>
                <string>{64,87}</string>
                <key>textureRect</key>
                <string>{{46,0},{64,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flexmobile/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,491}</string>
                <key>spriteSourceSize</key>
                <string>{403,491}</string>
                <key>textureRect</key>
                <string>{{441,0},{403,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flexmobile/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,491}</string>
                <key>spriteSourceSize</key>
                <string>{403,491}</string>
                <key>textureRect</key>
                <string>{{1247,0},{403,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flexmobile/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,491}</string>
                <key>spriteSourceSize</key>
                <string>{403,491}</string>
                <key>textureRect</key>
                <string>{{806,491},{403,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flexmobile/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,491}</string>
                <key>spriteSourceSize</key>
                <string>{403,491}</string>
                <key>textureRect</key>
                <string>{{403,491},{403,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flexmobile/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,491}</string>
                <key>spriteSourceSize</key>
                <string>{403,491}</string>
                <key>textureRect</key>
                <string>{{1209,491},{403,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flexmobile/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,491}</string>
                <key>spriteSourceSize</key>
                <string>{403,491}</string>
                <key>textureRect</key>
                <string>{{0,491},{403,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flexmobile/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,491}</string>
                <key>spriteSourceSize</key>
                <string>{403,491}</string>
                <key>textureRect</key>
                <string>{{844,0},{403,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mirrors/broken-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,150}</string>
                <key>spriteSourceSize</key>
                <string>{84,150}</string>
                <key>textureRect</key>
                <string>{{264,0},{84,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mirrors/mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,150}</string>
                <key>spriteSourceSize</key>
                <string>{84,150}</string>
                <key>textureRect</key>
                <string>{{180,0},{84,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{1650,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6280f4faaf2ee7feb8b31fef71582872:6583a57f8974f45ec995f6549ae9c648:9b2c40378ce3448cae3ca053079d3001$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
