<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>items/evidence/broken-evidence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,60}</string>
                <key>spriteSourceSize</key>
                <string>{93,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/broken-shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,94}</string>
                <key>textureRect</key>
                <string>{{93,0},{70,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/evidence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{163,0},{46,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,87}</string>
                <key>spriteSourceSize</key>
                <string>{64,87}</string>
                <key>textureRect</key>
                <string>{{209,0},{64,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,447}</string>
                <key>spriteSourceSize</key>
                <string>{342,447}</string>
                <key>textureRect</key>
                <string>{{273,0},{342,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,453}</string>
                <key>spriteSourceSize</key>
                <string>{352,453}</string>
                <key>textureRect</key>
                <string>{{615,0},{352,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,460}</string>
                <key>spriteSourceSize</key>
                <string>{357,460}</string>
                <key>textureRect</key>
                <string>{{967,0},{357,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,460}</string>
                <key>spriteSourceSize</key>
                <string>{357,460}</string>
                <key>textureRect</key>
                <string>{{1324,0},{357,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,460}</string>
                <key>spriteSourceSize</key>
                <string>{357,460}</string>
                <key>textureRect</key>
                <string>{{1681,0},{357,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,453}</string>
                <key>spriteSourceSize</key>
                <string>{352,453}</string>
                <key>textureRect</key>
                <string>{{0,460},{352,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,447}</string>
                <key>spriteSourceSize</key>
                <string>{342,447}</string>
                <key>textureRect</key>
                <string>{{352,460},{342,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/level-end/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,459}</string>
                <key>spriteSourceSize</key>
                <string>{353,459}</string>
                <key>textureRect</key>
                <string>{{694,460},{353,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/level-end/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,459}</string>
                <key>spriteSourceSize</key>
                <string>{353,459}</string>
                <key>textureRect</key>
                <string>{{1047,460},{353,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/level-end/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,459}</string>
                <key>spriteSourceSize</key>
                <string>{353,459}</string>
                <key>textureRect</key>
                <string>{{1400,460},{353,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/mirrors/broken-default-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{60,75}</string>
                <key>textureRect</key>
                <string>{{1753,460},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/mirrors/broken-wooden-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,130}</string>
                <key>spriteSourceSize</key>
                <string>{81,130}</string>
                <key>textureRect</key>
                <string>{{1813,460},{81,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/mirrors/default-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{60,75}</string>
                <key>textureRect</key>
                <string>{{1894,460},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/mirrors/wooden-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,130}</string>
                <key>spriteSourceSize</key>
                <string>{81,130}</string>
                <key>textureRect</key>
                <string>{{1954,460},{81,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{2038,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11d52948dd0ff61687a2e89c9c1ea85f:f9e4b06818d07cdec4b24124d0497753:9b2c40378ce3448cae3ca053079d3001$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
