<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chad/cutscene/angry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1029}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1029}</string>
                <key>textureRect</key>
                <string>{{0,0},{1000,1029}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/cutscene/annoyed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1028}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1028}</string>
                <key>textureRect</key>
                <string>{{1000,0},{1000,1028}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/cutscene/default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1029}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1029}</string>
                <key>textureRect</key>
                <string>{{2000,0},{1000,1029}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/cutscene/heck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1029}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1029}</string>
                <key>textureRect</key>
                <string>{{3000,0},{1000,1029}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/cutscene/stressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1029}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1029}</string>
                <key>textureRect</key>
                <string>{{0,1029},{1000,1029}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dee/cutscene/angry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1057}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1057}</string>
                <key>textureRect</key>
                <string>{{1000,1029},{1000,1057}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dee/cutscene/confused.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1057}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1057}</string>
                <key>textureRect</key>
                <string>{{2000,1029},{1000,1057}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dee/cutscene/default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1057}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1057}</string>
                <key>textureRect</key>
                <string>{{3000,1029},{1000,1057}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cutscene-characters.png</string>
            <key>size</key>
            <string>{4000,2086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:753349d24ccc335bad6fc950bffc46cd:42a8c7dc9e342e9255bf52824a21f94b:b25025569f82792f1d5d8432fb7acd4a$</string>
            <key>textureFileName</key>
            <string>cutscene-characters.png</string>
        </dict>
    </dict>
</plist>
