<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>items/evidence/boltcutters.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,90}</string>
                <key>spriteSourceSize</key>
                <string>{74,90}</string>
                <key>textureRect</key>
                <string>{{717,0},{74,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/broken-boltcutters.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,90}</string>
                <key>spriteSourceSize</key>
                <string>{57,90}</string>
                <key>textureRect</key>
                <string>{{198,0},{57,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/broken-cd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/broken-evidence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,60}</string>
                <key>spriteSourceSize</key>
                <string>{93,60}</string>
                <key>textureRect</key>
                <string>{{971,0},{93,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/broken-knife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{380,0},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/broken-manifest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,80}</string>
                <key>spriteSourceSize</key>
                <string>{67,80}</string>
                <key>textureRect</key>
                <string>{{444,0},{67,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/broken-shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,94}</string>
                <key>textureRect</key>
                <string>{{647,0},{70,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/cd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{89,0},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/evidence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{43,0},{46,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/knife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{143,0},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/manifest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{255,0},{61,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence/shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,87}</string>
                <key>spriteSourceSize</key>
                <string>{64,87}</string>
                <key>textureRect</key>
                <string>{{316,0},{64,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,447}</string>
                <key>spriteSourceSize</key>
                <string>{342,447}</string>
                <key>textureRect</key>
                <string>{{1406,0},{342,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,453}</string>
                <key>spriteSourceSize</key>
                <string>{352,453}</string>
                <key>textureRect</key>
                <string>{{352,447},{352,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,460}</string>
                <key>spriteSourceSize</key>
                <string>{357,460}</string>
                <key>textureRect</key>
                <string>{{1067,906},{357,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,460}</string>
                <key>spriteSourceSize</key>
                <string>{357,460}</string>
                <key>textureRect</key>
                <string>{{353,906},{357,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,460}</string>
                <key>spriteSourceSize</key>
                <string>{357,460}</string>
                <key>textureRect</key>
                <string>{{710,906},{357,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,453}</string>
                <key>spriteSourceSize</key>
                <string>{352,453}</string>
                <key>textureRect</key>
                <string>{{0,447},{352,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/dropoff/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,447}</string>
                <key>spriteSourceSize</key>
                <string>{342,447}</string>
                <key>textureRect</key>
                <string>{{1064,0},{342,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/level-end/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,459}</string>
                <key>spriteSourceSize</key>
                <string>{353,459}</string>
                <key>textureRect</key>
                <string>{{1057,447},{353,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/level-end/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,459}</string>
                <key>spriteSourceSize</key>
                <string>{353,459}</string>
                <key>textureRect</key>
                <string>{{0,906},{353,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/flexmobile/level-end/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,459}</string>
                <key>spriteSourceSize</key>
                <string>{353,459}</string>
                <key>textureRect</key>
                <string>{{704,447},{353,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/mirrors/broken-default-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,85}</string>
                <key>spriteSourceSize</key>
                <string>{68,85}</string>
                <key>textureRect</key>
                <string>{{511,0},{68,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/mirrors/broken-wooden-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,144}</string>
                <key>spriteSourceSize</key>
                <string>{90,144}</string>
                <key>textureRect</key>
                <string>{{791,0},{90,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/mirrors/default-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,85}</string>
                <key>spriteSourceSize</key>
                <string>{68,85}</string>
                <key>textureRect</key>
                <string>{{579,0},{68,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/mirrors/wooden-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,144}</string>
                <key>spriteSourceSize</key>
                <string>{90,144}</string>
                <key>textureRect</key>
                <string>{{881,0},{90,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{1748,1366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d18a304f7520cc340b08221b6fc92712:137b44291e6549d8748c7b57c3609c48:9b2c40378ce3448cae3ca053079d3001$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
