<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>items/broken-evidence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,60}</string>
                <key>spriteSourceSize</key>
                <string>{93,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/broken-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,150}</string>
                <key>spriteSourceSize</key>
                <string>{84,150}</string>
                <key>textureRect</key>
                <string>{{154,87},{84,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/broken-shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,94}</string>
                <key>textureRect</key>
                <string>{{0,87},{70,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/evidence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{93,0},{46,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,150}</string>
                <key>spriteSourceSize</key>
                <string>{84,150}</string>
                <key>textureRect</key>
                <string>{{70,87},{84,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,87}</string>
                <key>spriteSourceSize</key>
                <string>{64,87}</string>
                <key>textureRect</key>
                <string>{{139,0},{64,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{238,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac00c234b0ddb2421e3f83ef2c27666:f6053a624443630a0b690b07b44965ff:9b2c40378ce3448cae3ca053079d3001$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
