<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chad/flex/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,303}</string>
                <key>spriteSourceSize</key>
                <string>{269,303}</string>
                <key>textureRect</key>
                <string>{{538,693},{269,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/flex/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,303}</string>
                <key>spriteSourceSize</key>
                <string>{269,303}</string>
                <key>textureRect</key>
                <string>{{0,693},{269,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/flex/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,303}</string>
                <key>spriteSourceSize</key>
                <string>{269,303}</string>
                <key>textureRect</key>
                <string>{{589,390},{269,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/flex/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,303}</string>
                <key>spriteSourceSize</key>
                <string>{269,303}</string>
                <key>textureRect</key>
                <string>{{320,390},{269,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/flex/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,303}</string>
                <key>spriteSourceSize</key>
                <string>{269,303}</string>
                <key>textureRect</key>
                <string>{{269,693},{269,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/flex/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,303}</string>
                <key>spriteSourceSize</key>
                <string>{269,303}</string>
                <key>textureRect</key>
                <string>{{269,996},{269,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/flex/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,303}</string>
                <key>spriteSourceSize</key>
                <string>{269,303}</string>
                <key>textureRect</key>
                <string>{{538,996},{269,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/flex/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,303}</string>
                <key>spriteSourceSize</key>
                <string>{269,303}</string>
                <key>textureRect</key>
                <string>{{0,996},{269,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/down-left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{320,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/down-right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{480,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/down/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{560,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{240,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/up-left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/up-right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/up/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{880,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,390},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-left/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,390},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-left/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,390},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-left/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{240,390},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{800,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-right/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{720,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-right/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{640,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-right/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{880,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{480,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{640,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{800,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{720,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/left/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{560,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/left/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{400,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/left/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/right/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/right/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/right/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{880,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-left/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{480,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-left/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{640,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-left/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{800,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{720,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-right/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{560,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-right/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{400,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-right/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{320,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{240,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{400,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>characters.png</string>
            <key>size</key>
            <string>{960,1299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:055bc450db6dd3b7c634a45edd83e777:8b39f92d962c93f95031e4ee25238631:eba60a068fff52f8a9384dc2d4a3d4a3$</string>
            <key>textureFileName</key>
            <string>characters.png</string>
        </dict>
    </dict>
</plist>
