<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chad/flex/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{118,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/down-left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{118,0},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/down-right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/down/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/up-left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/up-right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,260},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/idle/up/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,390},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,390},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-left/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,390},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-left/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,520},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-left/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,520},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,520},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-right/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,650},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-right/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,650},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down-right/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,650},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,780},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,780},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,780},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/down/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,910},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,910},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/left/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,910},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/left/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,1040},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/left/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,1040},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,1040},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/right/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,1170},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/right/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,1170},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/right/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,1170},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-left/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,1300},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-left/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,1300},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-left/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,1300},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-left/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,1430},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-right/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,1430},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-right/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,1430},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-right/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,1560},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up-right/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,1560},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,1560},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{0,1690},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{80,1690},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chad/walk/up/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{160,1690},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>characters.png</string>
            <key>size</key>
            <string>{240,1820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87bb196b56a552d8e8d7cae33c06222d:2fd720676a0901cfeec5a8d4f6292b5c:eba60a068fff52f8a9384dc2d4a3d4a3$</string>
            <key>textureFileName</key>
            <string>characters.png</string>
        </dict>
    </dict>
</plist>
